.info-stack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: dotted;
    border-width: 1px;
}